@page
@model MyBlog.Pages.AuthersModel
@{
    ViewData["Title"] = "Authers";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Authers</h2>
<form method="get">	
	<label>Id</label>
	<input class="form-control" type="number" name="id" value="@Model.Request.Query["id"]"/>
    
	<label>Name</label>
	<input class="form-control" type="text" name="authorname" value="@Model.Request.Query["authorname"]"/>
	<button type="submit" class="btn btn-success">Search</button>
</form>
<a asp-page="./CreateAuthor" class="btn btn-danger pull-right">Add new Author</a>
<form method="post">
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Id</td>
				<td>Name</td>
				<td>Email</td>
				<td>Mobile</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			@foreach (var auther in Model.Authors)
			{
				<tr>
					<td>@auther.Id</td>
					<td>@auther.Name</td>
					<td>@auther.Email</td>
					<td>@auther.Mobile</td>
					<td>
						<a class="btn btn-primary" asp-page="./EditAuthor" asp-route-id="@auther.Id">edit</a>
						<button class="btn btn-danger" type="submit" 
								asp-route-id="@auther.Id">
							delete
						</button>
					</td>
				</tr>
			}

		</tbody>
	</table>
	</form>
